#%RAML 1.0
title: Process API for managing sales 
version: v1
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/32f65000-c343-4ecc-a6dc-33b3c1a9e586/ # baseUri: http://localhost:8081/api/{version}

uses:
  dataTypesLib: exchange_modules/58a992fe-b969-4b25-b394-d29b18b7da04/datatypeslibrary/1.1.4/datatypeslibrary.raml
  resourceTypesLib: exchange_modules/58a992fe-b969-4b25-b394-d29b18b7da04/resourcetypeslibrary/1.0.1/resourcetypeslibrary.raml
  traitsLib: exchange_modules/58a992fe-b969-4b25-b394-d29b18b7da04/traitslibrary/1.0.3/traitslibrary.raml


/stores:
  description: |
        Resource to manage store(s) and store hours
  type:
    resourceTypesLib.collection:
  is: [traitsLib.traceable: {required: true}, traitsLib.secured: {required: true}]
  post:
    description: |
      Create store(s) details with store hours
    body:
      application/json:
        example: !include examples/stores.raml
        properties:
          stores: dataTypesLib.stores
    responses:
      200:
        body:
          application/json:
            example: |
              { "responseCode" : 0,  "responseText" : "success"}
  /{store-id}:
    description: |
      Update store data
    type:
      resourceTypesLib.member:
    is: [traitsLib.traceable: {required: true}, traitsLib.secured: {required: true}]   
    put:
      description: |
       Update store data based on click & collect business event
      body:
        application/json:
          example: !include examples/store-click-and-collect.raml
      responses:
        200:
          body:
            application/json:
              example: |
                { "responseCode" : 0,  "responseText" : "success"}    
/orders:
  /shipment:
    /label-creation:
      type:
        resourceTypesLib.collection:
      is: [traitsLib.traceable: {required: true},           traitsLib.secured: {required: true}]
      post:
        description: |
          Resource to create shipment label in RoyalMail System
        body:
          application/json:            
            properties:
              create-shipment: dataTypesLib.sales-orders
            example: !include examples/create-shipment.raml
        responses:
          200:
            body:
              application/json:
                properties:
                  create-shipment-response: dataTypesLib.shipment-details
                example: !include examples/create-shipment-response.raml
    /parcel-manifest:
      type:
        resourceTypesLib.collection:
      is: [traitsLib.traceable: {required: true},           traitsLib.secured: {required: true}]
      post:
        description: |
          Resource to inform Royal Mail about the list of parcels which are ready for collection.
        body:
          application/json:
            example: !include examples/shipping-manifests.raml
            properties:
              manifests: dataTypesLib.manifests
        responses:
          200:
            body:
              application/json:
                example: |
                  { "responseCode" : 0,  "responseText" : "success"}